@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

/* Star Shape Definition */
.star-shape {
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 
    50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%
  );
}